:root {
  --modviolet: hsl(263, 55%, 52%);
  --ltviolet: hsl(281, 73%, 69%);
  --vdkblblue: hsl(219, 29%, 14%);
  --vdkgrayblue: hsl(217, 19%, 35%);
  --ltgrayblue: hsl(210, 46%, 95%);
  --ltgray: hsl(0, 0%, 81%);
  --white: hsl(0, 0%, 100%);
}